<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr"
    data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template" data-style="light">

<head>
    <%- include('../../layout/head') %>
</head>
<style>
    .badge {
        display: inline-block;
        padding: 0.25em 0.5em;
        font-size: 0.875em;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.375rem;
        color: white;
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-pending {
        color: #212529;
        background-color: #ffc107;
    }
</style>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <%- include('../../layout/aside') %>

                <div class="layout-page">
                    <%- include('../../layout/side') %>

                        <div class="content-wrapper">
                            <div class="container-xxl flex-grow-1 container-p-y">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-6"></div>
                                            <div class="col-6" style="text-align: end">
                                                <button class="create-new btn btn-primary waves-effect waves-light"
                                                    data-bs-toggle="offcanvas" data-bs-target="#add-new-approval-type">
                                                    <i class="ti ti-plus me-sm-1"></i>
                                                    <span class="d-none d-sm-inline-block">Add New Approval Type</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-datatable table-responsive pt-0">
                                        <table id="approval-types-table" class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Approval Type</th>
                                                    <th>Total Approvals</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="approval-types-body">
                                                <% data.forEach((appr, index)=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= index + 1 %>
                                                        </td>
                                                        <td>
                                                            <%= appr.approval_type %>
                                                        </td>
                                                        <td>
                                                            <%= appr.total_number_of_approval %>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-warning btn-sm edit-btn"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#edit-approval-type-modal"
                                                                data-id="<%= appr.id %>"
                                                                data-approval-type="<%= appr.approval_type %>"
                                                                data-total-approvals="<%= appr.total_number_of_approval %>">
                                                                Edit
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                                <!-- Modal to add new approval type -->
                                <div class="offcanvas offcanvas-end" id="add-new-approval-type">
                                    <div class="offcanvas-header border-bottom">
                                        <h5 class="offcanvas-title">New Approval Type</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body flex-grow-1">
                                        <form id="form-approval-type-create" onsubmit="createApprovalType(event)">
                                            <div class="col-sm-12">
                                                <label class="form-label" for="approval_type">Approval Type</label>
                                                <input type="text" id="approval_type" name="approval_type"
                                                    class="form-control" placeholder="Enter Approval Type" required />
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="form-label" for="total_approvals">Total Approvals</label>
                                                <input type="number" id="total_approvals" name="total_approvals"
                                                    class="form-control" placeholder="Enter Total Approvals" required />
                                            </div>

                                            <div class="col-sm-12 mt-3">
                                                <button type="submit" class="btn btn-primary data-submit">
                                                    <span class="spinner-border d-none" role="status"
                                                        aria-hidden="true"></span>
                                                    Submit
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-dismiss="offcanvas">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Edit Modal -->
                                <div class="offcanvas offcanvas-end" id="edit-approval-type" tabindex="-1"
                                    aria-labelledby="edit-approval-type-label">
                                    <div class="offcanvas-header border-bottom">
                                        <h5 class="offcanvas-title" id="edit-approval-type-label">Edit Approval Type
                                        </h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body flex-grow-1">
                                        <form id="form-approval-type-edit" onsubmit="editApprovalType(event)">
                                            <input type="hidden" id="edit-id" name="id">

                                            <div class="col-sm-12">
                                                <label class="form-label" for="edit-approval-types">Approval Type</label>
                                                <input type="text" id="edit-approval-types" name="approval_type"
                                                    class="form-control" required>
                                            </div>

                                            <div class="col-sm-12 mt-3">
                                                <label class="form-label" for="edit-total-approvals">Total
                                                    Approvals</label>
                                                <input type="number" id="edit-total-approvals" name="total_approvals"
                                                    class="form-control" required>
                                            </div>

                                            <div class="col-sm-12 mt-3">
                                                <button type="submit" class="btn btn-primary data-submit">
                                                    <span class="spinner-border d-none" role="status"
                                                        aria-hidden="true"></span>
                                                    Submit
                                                </button>
                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-bs-dismiss="offcanvas">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <%- include('../../layout/footer') %>
                                    <script>

                                        async function createApprovalType(event) {
                                            event.preventDefault();
                                            const form = event.target;
                                            const spinner = form.querySelector('.spinner-border');
                                            spinner.classList.remove('d-none');

                                            const payload = {
                                                approvalType: form.approval_type.value,
                                                totalApprovals: form.total_approvals.value,
                                            };

                                            try {
                                                const response = await fetch('/setup/approval_type', {
                                                    method: 'POST',
                                                    body: JSON.stringify(payload),
                                                    headers: {
                                                        'Content-Type': 'application/json',
                                                    },
                                                });

                                                const result = await response.json();
                                                spinner.classList.add('d-none');

                                                if (response.ok && result.success) {
                                                    toastr.success(result.message);
                                                    setTimeout(() => {
                                                        window.location.reload();
                                                    }, 1500)
                                                } else {
                                                    toastr.error(result.message || 'Failed to create approval type.');
                                                }
                                            } catch (error) {
                                                spinner.classList.add('d-none');
                                                toastr.error('An unexpected error occurred.');
                                            }
                                        }
                                    </script>
                                    <script>
                                        document.querySelectorAll('.edit-btn').forEach(button => {
                                            button.addEventListener('click', function () {
                                                // Get the data from the button attributes
                                                const approvalType = this.getAttribute('data-approval-type');
                                                const totalApprovals = this.getAttribute('data-total-approvals');
                                                const id = this.getAttribute('data-id');

                                                document.getElementById('edit-id').value = id;
                                                document.getElementById('edit-approval-types').value = approvalType;
                                                document.getElementById('edit-total-approvals').value = totalApprovals;
                                                console.log(approvalType)
                                                // Show the modal
                                                const editModal = new bootstrap.Offcanvas(document.getElementById('edit-approval-type'));
                                                editModal.show();
                                            });
                                        });

                                        async function editApprovalType(event) {
                                            event.preventDefault();
                                            const form = event.target;
                                            const spinner = form.querySelector('.spinner-border');
                                            spinner.classList.remove('d-none');

                                            const payload = {
                                                id: form.id.value,
                                                approvalType: form.approval_type.value,
                                                totalApprovals: form.total_approvals.value,
                                            };

                                            try {
                                                const response = await fetch('/setup/approval_type/' + payload.id, {
                                                    method: 'PUT',
                                                    body: JSON.stringify(payload),
                                                    headers: {
                                                        'Content-Type': 'application/json',
                                                    },
                                                });

                                                const result = await response.json();
                                                spinner.classList.add('d-none');

                                                if (response.ok && result.success) {
                                                    toastr.success(result.message);
                                                    setTimeout(() => {
                                                        window.location.reload();
                                                    }, 1500);
                                                } else {
                                                    toastr.error(result.message || 'Failed to update approval type.');
                                                }
                                            } catch (error) {
                                                spinner.classList.add('d-none');
                                                toastr.error('An unexpected error occurred.');
                                            }
                                        }
                                    </script>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</body>

</html>