<!doctype html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template" data-style="light">
  <head>
    <%- include('../layout/head') %>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

       <%- include('../layout/aside') %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

         <%- include('../layout/side') %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <!-- Search Form -->
                <div class="card mb-4">
                  <!-- <div class="card-header">
                    <h5 class="mb-0">Search Payments</h5>
                  </div> -->
                  <div class="card-body">
                    <form method="GET" action="" id="generateMandate">
                      <div class="row">
                        <div class="col-md-2">
                          <div class="mb-3">
                            <label for="invoice" class="form-label">Mandate Type</label>
                            <select name="mandate_type" id="mandate_type" class="form-control">
                              <option value="">Select mandate type</option>
                              <option value="Buildings">Buildings</option>
                              <option value="Business">Business</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="mb-3">
                            <label for="paymentRef" class="form-label">Mandate Year</label>
                            <input type="text" disabled id="current_year" name="current_year" class="form-control" value="" />
                          </div>
                        </div>
                       
                        <div class="col-md-3">
                          <div class="mb-3">
                            <label for="paymentDateFrom" class="form-label">Ward/Area</label>
                            <select name="ward" class="form-control" id="ward">
                              <option value="All">All</option>
                              <% areas.map(area => { %>
                                <option value="<%= area.Id %>"><%= area.areaname %></option>
                              <% }) %>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="mb-3">
                            <label for="paymentDateTo" class="form-label">Street</label>
                            <select name="street" class="form-control" id="street"></select>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="text-end" style="padding-top: 20px;">
                            <button type="submit" class="btn btn-primary">Generate Mandate</button>
                          </div>
                        </div>
                      </div>
                      
                    </form>
                  </div>
                </div>

                <% if(revenue_invoices.length > 1) { %>
                   <!-- DataTable with Buttons -->
                <div class="card">
                  <div class="card-header">
                      <div class="row">
                          <div class="col-6">Enumerated Buildings</div>
                      </div>
                  </div>
                  
                  <div class="card-datatable  table-responsive pt-0">
                    <table class="datatables-basic table">
                      <thead>
                        <tr>
                          <th>Action</th>
                          <th>Taxpayer.</th>
                          <th>Business/Building name</th>
                          <th>Month/Year </th>
                          <th>Invoice </th>
                          <th>Amount </th>
                          <th>Amount Paid </th>
                          <th>Revenue Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% revenue_invoices.map(invoice => { %>
                            <tr>
                                <td>
                                  <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                      <i class="ti ti-dots-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="/admin/enumerated_demand_notice/<%= invoice.year %>/<%= invoice.invoice_number %>">
                                        <i class="ti ti-eye me-1"></i>View more
                                      </a>
                                      <a class="dropdown-item" href="javascript:void(0);" onclick="deleteRecords('<%= invoice.building_number %>')">
                                        <i class="ti ti-trash me-1"></i>Delete
                                      </a>
                                    </div>
                                  </div>
                                </td>
                                <td><%= invoice.taxpayer_name %></td>
                                <td><%= invoice.revenue_id %></td>
                                <td><%= invoice.month %>/<%= invoice.year %></td>
                                <td><%= invoice.invoice_number %></td>
                                <td><%= invoice.amount %></td>
                                <td><%= invoice.amount_paid %></td>
                                <td><%= invoice.source %></td>
                            </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
            
                <% } %>

               
              
            </div>
              <!-- / Content -->

        <%- include('../layout/footer') %>
        <script>
          const d = Date.now();
          const currentYear = new Intl.DateTimeFormat("en", { year: "numeric" }).format(d);
          $("#current_year").val(currentYear);
          $("#_year").val(currentYear);


          const ward = document.getElementById('ward').addEventListener('change', findStreets)

          async function findStreets() {
            const wardId = this.value
            const response = await axios.get(`/setup/street/${wardId}`);
            console.log(response.data);
            // alert(wardId
            populateStreet(response.data.data)

          }


          function populateStreet(data) {
            if(data.length > 0) {
              let html = '';
               html +=`<option value='All'>All</option>`
              for (let index = 0; index < data.length; index++) {
                html +=`<option value='${data[index].id}'>${data[index].street}</option>`
              };
              
              $('#street').html(html)

            }
          }

          const generateMandate = document.getElementById("generateMandate");
          generateMandate.addEventListener('submit', async(e) => {
            e.preventDefault();

            const data = new FormData(generateMandate);
            const payload = {
              mandate_type: data.get("mandate_type"),
              current_year: data.get("current_year"),
              ward: data.get("ward"),
              street: data.get("street"),
            }

            try {
              const response = await axios.post("/admin/generate_mandate", payload, {
                headers: {
                  "Content-Type": "application/json"
                }
              })

              console.log(response.data)

              if(response.data.status == true) {
                Swal.fire({
                  icon: "success",
                  title: "Generated",
                  text: response.data.message
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Reload the page
                        window.location.reload();
                    }
                });
              } else {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: response.data.message
                });
              }
            } catch (error) {
              console.log(error)
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!"
              });
            }
          })

        </script>
  </body>
</html>
