<!doctype html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template" data-style="light">
  <head>
    <%- include('../layout/head') %>
        <!-- Page CSS -->
        <link rel="stylesheet" href="/assets/vendor/css/pages/cards-advance.css" />
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

       <%- include('../layout/aside') %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

         <%- include('../layout/side') %>
         <% 
            // Helper function to handle NaN values
                                                    
                                                    
            const safeParseFloat = (value) => {
                if (value === null || isNaN(value)) {
                    return 0;
                }
                return parseFloat(value);
            };

            function formatNumber(value) {
                const number = safeParseFloat(value);
            
                if (number < 0) {
                    return `(${Math.abs(number).toLocaleString(undefined, {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2,
                    })})`;
                }
            
                return number.toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                });
            }

           
        %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row g-6">
                    
                     <!-- Card Border Shadow -->
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-border-shadow-primary h-100">
                      <a href="/admin/enumerated_buildings">
                        <div class="card-body">
                          <div class="d-flex align-items-center mb-2">
                            <div class="avatar me-4">
                              <span class="avatar-initial rounded bg-label-primary"
                                ><i class="ti ti-truck ti-28px"></i
                              ></span>
                            </div>
                            <h4 class="mb-0">Buildings</h4>
                          </div>
                          <p class="mb-1">View buildings</p>
                        </div>
                      </a>
                      
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="card card-border-shadow-warning h-100">
                      <a href="/admin/enumerated_business">
                        <div class="card-body">
                          <div class="d-flex align-items-center mb-2">
                            <div class="avatar me-4">
                              <span class="avatar-initial rounded bg-label-warning"
                                ><i class="ti ti-alert-triangle6 ti-28px"></i
                              ></span>
                            </div>
                            <h4 class="mb-0">Business</h4>
                          </div>
                          <p class="mb-1">View Businesses</p>
                        </div>
                      </a>
                      
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="card card-border-shadow-danger h-100">
                      <a href="/admin/generate_mandate">
                        <div class="card-body">
                          <div class="d-flex align-items-center mb-2">
                            <div class="avatar me-4">
                              <span class="avatar-initial rounded bg-label-danger"
                                ><i class="ti ti-git-fork ti-28px"></i
                              ></span>
                            </div>
                            <h4 class="mb-0">Mandate</h4>
                          </div>
                          <p class="mb-1">2025 Generated Mandate</p>
                          
                        </div>
                      </a>
                      
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                    <div class="card card-border-shadow-info h-100">
                      <div class="card-body">
                        <div class="d-flex align-items-center mb-2">
                          <div class="avatar me-4">
                            <span class="avatar-initial rounded bg-label-info"><i class="ti ti-clock ti-28px"></i></span>
                          </div>
                          <h4 class="mb-0">Invoices</h4>
                        </div>
                        <p class="mb-1">Payment</p>
                      </div>
                    </div>
                  </div>
                  <!--/ Card Border Shadow -->
                <!-- Earning Reports -->
                <div class="col-lg-6">
                    <div class="card h-100">
                    <div class="card-header pb-0 d-flex justify-content-between">
                      
                        <div class="card-title mb-0">
                        <h5 class="mb-1">Enumerated Buildings</h5>
                        <p class="card-subtitle">Buildings enumerated by enumerators</p>
                        </div>
                        <div class="dropdown">
                        <button
                            class="btn btn-text-secondary rounded-pill text-muted border-0 p-2 me-n1"
                            type="button"
                            id="earningReportsId"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="ti ti-dots-vertical ti-md text-muted"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="earningReportsId">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                        </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center g-md-8">
                        <div class="col-12 col-md-5 d-flex flex-column">
                            <div class="d-flex gap-2 align-items-center mb-3 flex-wrap">
                            <h2 class="mb-0"><%= numberOfBuildings %></h2>
                            <div class="badge rounded bg-label-success">+4.2%</div>
                            </div>
                            <small class="text-body">Statistics</small>
                        </div>
                        <div class="col-12 col-md-7 ps-xl-8">
                            <div id="weeklyEarningReports"></div>
                        </div>
                        </div>
                        <div class="border rounded p-5 mt-5">
                        <div class="row gap-4 gap-sm-0">
                            <div class="col-12 col-sm-4">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="badge rounded bg-label-primary p-1">
                                <i class="ti ti-currency-dollar ti-sm"></i>
                                </div>
                                <h6 class="mb-0 fw-normal">Expected</h6>
                            </div>
                            <h4 class="my-2">
                              <%= formatNumber(safeParseFloat(buildingAmounts?.total)) %>
                            </h4>
                            <div class="progress w-75" style="height: 4px">
                                <div
                                class="progress-bar"
                                role="progressbar"
                                style="width: 100%"
                                aria-valuenow="65"
                                aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                            </div>
                            <div class="col-12 col-sm-4">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="badge rounded bg-label-info p-1"><i class="ti ti-chart-pie-2 ti-sm"></i></div>
                                <h6 class="mb-0 fw-normal">Paid</h6>
                            </div>
                            <%
                              let paidPer = (safeParseFloat(buildingAmounts.total_paid) / safeParseFloat(buildingAmounts.total)) * 100
                              let outPer = ((safeParseFloat(buildingAmounts?.total) - safeParseFloat(buildingAmounts?.total_paid ))/ safeParseFloat(buildingAmounts?.total)) * 100
                            %>
                            <h4 class="my-2"><%= formatNumber(safeParseFloat(buildingAmounts?.total_paid)) %></h4>
                            <div class="progress w-75" style="height: 4px">
                                <div
                                class="progress-bar bg-info"
                                role="progressbar"
                                style="width: <%= paidPer %>%"
                                aria-valuenow="50"
                                aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                            </div>
                            <div class="col-12 col-sm-4">
                            <div class="d-flex gap-2 align-items-center">
                                <div class="badge rounded bg-label-danger p-1">
                                <i class="ti ti-brand-paypal ti-sm"></i>
                                </div>
                                <h6 class="mb-0 fw-normal">Outstanding</h6>
                            </div>
                            <h4 class="my-2"><%= formatNumber(safeParseFloat(buildingAmounts?.total) - safeParseFloat(buildingAmounts?.total_paid)) %></h4>
                            <div class="progress w-75" style="height: 4px">
                                <div
                                class="progress-bar bg-danger"
                                role="progressbar"
                                style="width: <%= outPer %>%"
                                aria-valuenow="65"
                                aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!--/ Earning Reports -->
                <!-- Earning Reports -->
                <div class="col-lg-6">
                    <div class="card h-100">
                        <div class="card-header pb-0 d-flex justify-content-between">
                        <div class="card-title mb-0">
                            <h5 class="mb-1">Enumerated Business</h5>
                            <p class="card-subtitle">Businesses enumerated by enumerators</p>
                        </div>
                        <div class="dropdown">
                            <button
                            class="btn btn-text-secondary rounded-pill text-muted border-0 p-2 me-n1"
                            type="button"
                            id="earningReportsId"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <i class="ti ti-dots-vertical ti-md text-muted"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="earningReportsId">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                            </div>
                        </div>
                        </div>
                        <div class="card-body">
                        <div class="row align-items-center g-md-8">
                            <div class="col-12 col-md-5 d-flex flex-column">
                            <div class="d-flex gap-2 align-items-center mb-3 flex-wrap">
                                <h2 class="mb-0"><%= numberOfBusiness %></h2>
                                <div class="badge rounded bg-label-success">+4.2%</div>
                            </div>
                            <small class="text-body">Statistics</small>
                            </div>
                            <div class="col-12 col-md-7 ps-xl-8">
                            <div id="weeklyEarningReports"></div>
                            </div>
                        </div>
                        <div class="border rounded p-5 mt-5">
                            <div class="row gap-4 gap-sm-0">
                            <div class="col-12 col-sm-4">
                                <div class="d-flex gap-2 align-items-center">
                                <div class="badge rounded bg-label-primary p-1">
                                    <i class="ti ti-currency-dollar ti-sm"></i>
                                </div>
                                <h6 class="mb-0 fw-normal">Expected</h6>
                                </div>
                                <%
                                  let paidPerB = (safeParseFloat(buildingAmounts?.total_paid) / safeParseFloat(buildingAmounts?.total)) * 100
                                  let outPerB = ((safeParseFloat(buildingAmounts?.total) - safeParseFloat(buildingAmounts?.total_paid ))/ safeParseFloat(buildingAmounts?.total)) * 100
                                %>
                                <h4 class="my-2"><%= formatNumber(safeParseFloat(buildingAmounts?.total)) %></h4>
                                <div class="progress w-75" style="height: 4px">
                                <div
                                    class="progress-bar"
                                    role="progressbar"
                                    style="width: 100%"
                                    aria-valuenow="65"
                                    aria-valuemin="0"
                                    aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="d-flex gap-2 align-items-center">
                                <div class="badge rounded bg-label-info p-1"><i class="ti ti-chart-pie-2 ti-sm"></i></div>
                                <h6 class="mb-0 fw-normal">Paid</h6>
                                </div>
                                <h4 class="my-2"><%= formatNumber(safeParseFloat(buildingAmounts?.total_paid)) %></h4>
                                <div class="progress w-75" style="height: 4px">
                                <div
                                    class="progress-bar bg-info"
                                    role="progressbar"
                                    style="width: <%= paidPerB %>%"
                                    aria-valuenow="50"
                                    aria-valuemin="0"
                                    aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="d-flex gap-2 align-items-center">
                                <div class="badge rounded bg-label-danger p-1">
                                    <i class="ti ti-brand-paypal ti-sm"></i>
                                </div>
                                <h6 class="mb-0 fw-normal">Outstanding</h6>
                                </div>
                                <h4 class="my-2"><%= formatNumber(safeParseFloat(buildingAmounts?.total) - safeParseFloat(buildingAmounts?.total_paid)) %></h4>
                                <div class="progress w-75" style="height: 4px">
                                <div
                                    class="progress-bar bg-danger"
                                    role="progressbar"
                                    style="width: <%= outPerB %>%"
                                    aria-valuenow="65"
                                    aria-valuemin="0"
                                    aria-valuemax="100"></div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!--/ Earning Reports -->
    
                      
                   
                  
                  </div>
            </div>
            <!-- / Content -->

        <%- include('../layout/footer') %>
  </body>
</html>
