<!doctype html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template" data-style="light">
  <head>
    <%- include('../layout/head') %>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

       <%- include('../layout/aside') %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

         <%- include('../layout/side') %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row mb-6 g-6">
                <div class="col-sm-6 col-xl-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="content-left">
                          <h5 class="mb-1"><%= count %></h5>
                          <small>Clients</small>
                        </div>
                        <span class="badge bg-label-primary rounded-circle p-2">
                          <i class="ti ti-currency-dollar ti-lg"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="content-left">
                          <h5 class="mb-1"><%= users %></h5>
                          <small>App users</small>
                        </div>
                        <span class="badge bg-label-success rounded-circle p-2">
                          <i class="ti ti-gift ti-lg"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="content-left">
                          <h5 class="mb-1">2,367</h5>
                          <small>Signups</small>
                        </div>
                        <span class="badge bg-label-danger rounded-circle p-2">
                          <i class="ti ti-users ti-lg"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="content-left">
                          <h5 class="mb-1">4.5%</h5>
                          <small>Conversion Rate</small>
                        </div>
                        <span class="badge bg-label-info rounded-circle p-2">
                          <i class="ti ti-infinity ti-lg"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-6 g-6">
                <div class="col-lg-7">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="mb-1">Quick use</h5>
                      <p class="mb-6 card-subtitle mt-0">Integrate your referral code in 3 easy steps.</p>
                      <div class="d-flex flex-column flex-sm-row justify-content-between text-center gap-6">
                        <div class="d-flex flex-column align-items-center">
                          <span class="p-4 border-1 border-primary rounded-circle border-dashed mb-0 w-px-75 h-px-75"
                            ><img src="../../assets/svg/icons/rocket.svg" alt="Rocket"
                          /></span>
                          <p class="my-2 w-75">View Approved Clients</p>
                          <!-- <h6 class="text-primary mb-0">$50</h6> -->
                        </div>
                        <div class="d-flex flex-column align-items-center">
                          <span class="p-4 border-1 border-primary rounded-circle border-dashed mb-0 w-px-75 h-px-75"
                            ><img src="../../assets/svg/icons/user-info.svg" alt="user-info"
                          /></span>
                          <p class="my-2 w-75">Navigate Reports</p>
                          <!-- <h6 class="text-primary mb-0">10%</h6> -->
                        </div>
                        <div class="d-flex flex-column align-items-center">
                          <span class="p-4 border-1 border-primary rounded-circle border-dashed mb-0 w-px-75 h-px-75"
                            ><img src="../../assets/svg/icons/paper.svg" alt="paper"
                          /></span>
                          <p class="my-2 w-75">Create Other Users</p>
                          <!-- <h6 class="text-primary mb-0">$100</h6> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-5">
                  <div class="card h-100">
                    <div class="card-body">
                      <form class="referral-form" onsubmit="return false">
                        <div class="mb-6 mt-1">
                          <h5 class="mb-5">Share link with client</h5>
                          <div class="d-flex gap-4 align-items-end">
                            <div class="w-100">
                              <label class="form-label mb-1" for="referralEmail">Enter email address and invite them to signup</label>
                              <input
                                type="email"
                                id="referralEmail"
                                name="referralEmail"
                                class="form-control w-100"
                                placeholder="Email address" />
                            </div>
                            <div>
                              <button type="submit" class="btn btn-primary">
                                <i class="ti ti-check ti-xs me-2"></i>Submit
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- <div>
                          <h5 class="mb-5">Share the referral link</h5>
                          <div class="d-flex gap-4 align-items-end">
                            <div class="w-100">
                              <label class="form-label mb-1" for="referralLink"
                                >Share referral link in social media</label
                              >
                              <input
                                type="text"
                                id="referralLink"
                                name="referralLink"
                                class="form-control w-100 h-px-40"
                                placeholder="pixinvent.com/?ref=6479" />
                            </div>
                            <div class="d-flex">
                              <button type="button" class="btn btn-facebook btn-icon me-2">
                                <i class="ti ti-brand-facebook text-white ti-md"></i>
                              </button>
                              <button type="button" class="btn btn-twitter btn-icon">
                                <i class="ti ti-brand-twitter text-white ti-md"></i>
                              </button>
                            </div>
                          </div>
                        </div> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Referral List Table -->
              <div class="card">
                <div class="card-datatable table-responsive">
                  <table class="datatables-referral table border-top">
                    <thead>
                      <tr>
                        <th></th>
                        <th>STATUS</th>
                        <th>CLIENT NAME</th>
                        <th>SERVICE ID</th>
                        <th class="text-nowrap">CODE</th>
                        <th>PHONE NO.</th>
                        <th>EMAIL ADDRESS</th>
                        <th class="text-nowrap">CREATED ON</th>
                        <th class="text-nowrap">Earnings</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% clients.map(client => { %>
                        <tr>
                          <td>
                            <!-- Icon Dropdown -->
                              <div class="demo-inline-spacing">
                                <div class="btn-group">
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="ti ti-dots-vertical"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a 
                                      class="dropdown-item approvals" 
                                      href="javascript:void(0);" 
                                      data-service-id="<%= client.service_id %>"
                                      data-approval-status="<%= client.service_status %>"
                                      >Approvals</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">View reports</a></li>
                                    <li>
                                      <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item edit_button" href="javascript:void(0);">Edit</a></li>
                                  </ul>
                                </div>
                              </div>
                            
                          </td>
                          <td>
                            <% if(client.service_status === 1) { %>
                              <span class="badge bg-label-success">Approved</span>
                            <% } %>
                            <% if(client.service_status === 0) { %>
                              <span class="badge bg-label-warning">Pending</span>
                            <% } %>
                            <% if(client.service_status === 2) { %>
                              <span class="badge bg-label-warning">Disabled</span>
                            <% } %>
                          </td>
                          <td><%= client.client %></td>
                          <td><%= client.service_id %></td>
                          <td><%= client.service_code %></td>
                          <td><%= client.client_phone %></td>
                          <td><%= client.client_email %></td>
                          <td><%= client.setup_on.toLocaleString() %></td>
                          <td><img src="<%= client.service_logo %>" alt="" srcset="" style="width: 100px;"></td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Add New Credit Card Modal -->
            <div class="modal fade" id="addNewCCModal" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-6">
                      <h4 class="mb-2">Approve client service</h4>
                      <!-- <p>Add new card to complete payment</p> -->
                    </div>
                    <form id="addNewCCForm" class="row g-6" onsubmit="return false">
                      
                      <input type="hidden" id="service_id" class="form-control" />
                      <!-- </div> -->
                      <div class="col-12">
                        <div class="form-check form-switch">
                          <input type="checkbox" class="form-check-input" id="approval_status" />
                          <label for="futureAddress" class="switch-label">Switch on to approve then off to reject/disapprove </label>
                        </div>
                      </div>
                      <!-- <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary me-3">Submit</button>
                        <button
                          type="reset"
                          class="btn btn-label-secondary btn-reset"
                          data-bs-dismiss="modal"
                          aria-label="Close">
                          Cancel
                        </button>
                      </div> -->
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Add New Credit Card Modal -->

        <%- include('../layout/footer') %>

        <script>
          document.addEventListener("DOMContentLoaded", () => {

            // Function to handle button click events

            function handleButtonClick(event) {
                event.preventDefault();
                const target = event.currentTarget;
                let taxpayer = {}

                if(target.classList.contains("apply_Discount") || target.classList.contains("edit_button")) {
                    // Retrieve data attributes
                    const taxpayerId = target.getAttribute("data-tin");
                    const idtax = target.getAttribute("data-idtax");
                    const code = target.getAttribute("data-code");
                    const taxitem = target.getAttribute("data-taxitem");
                    const discount = target.getAttribute("data-discount");
                    const amount = target.getAttribute("data-amount");

                    // Construct the taxpayer object
                    taxpayer = { taxpayerId, idtax, code, taxitem, discount, amount };

                } else if(target.classList.contains("approvals")) {
                    const service_id = target.getAttribute("data-service-id");
                    const approval = target.getAttribute("data-approval-status");
                    taxpayer = { service_id, approval };
                } else if(target.classList.contains("delete_all_items")){
                    const tin = target.getAttribute("data-main-tin");
                    taxpayer = { tin };
                }
                
                // Perform different actions based on the button type
                if (target.classList.contains("approvals")) {
                    approveCLients(taxpayer);
                } else if (target.classList.contains("edit_button")) {
                    editTaxpayer(taxpayer);
                } else if(target.classList.contains("remove_item")) {
                    deleteItem(taxpayer);
                } else {
                    deleteItem(taxpayer);
                }
            }
    
            // Select buttons with both classes
            const allButtons = document.querySelectorAll(".approvals, .edit_button, .remove_item, .delete_all_items");

            // Attach event listeners to all buttons
            allButtons.forEach(button => {
                button.addEventListener("click", handleButtonClick);
            });
          })

          // Example function to process the discount
          function approveCLients(taxpayer) {
              console.log("Processing discount for taxpayer:", taxpayer);
              document.getElementById('service_id').value = taxpayer.service_id;
              toggleSwitchBasedOnValue(parseInt(taxpayer.approval)) 
              const editModal = new bootstrap.Modal(document.getElementById('addNewCCModal'));
              editModal.show();
              // Perform actions with the taxpayer data
          }
          const toggleSwitch = document.getElementById("approval_status");
          function toggleSwitchBasedOnValue(value) {
            if (value == 1) {
                toggleSwitch.checked = true;
            } else {
                toggleSwitch.checked = false;
            }
        }


          toggleSwitch.addEventListener("change", function() {
              if (this.checked) {
                  
              } else {
                alert("OnChecked")
              }
          });
        </script>
  </body>
</html>
