<!doctype html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template" data-style="light">
  <head>
    <%- include('../layout/head') %>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

       <%- include('../layout/aside') %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

         <%- include('../layout/side') %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- Permission Table -->
              <div class="card">
                <div class="card-datatable table-responsive">
                  <table class="datatables-permissions table border-top">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <!-- <th>Assigned To</th> -->
                        <th>Created Date</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% permission.forEach(perm => { %>
                            <tr>
                                <td></td>
                                <td><%= perm.permission_name %></td>
                                <!-- <td><%= perm.role_id %></td> -->
                                <td><%= perm.created_on %></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="text-nowrap"><button 
                                            class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" 
                                            data-bs-target="#editPermissionModal" 
                                            data-bs-toggle="modal" 
                                            data-bs-dismiss="modal"
                                            onclick="edit(`<%= perm.permission_name %>`, '<%= perm.permission_id %>')"><i class="ti ti-edit ti-md"></i></button>
                                           <span class="text-nowrap">
                                            <button 
                                            class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" onclick="deleteRecords('<%= perm.permission_id %>')" ><i class="ti ti-trash ti-md"></i></button>
                                        <!-- <a href="javascript:;" class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical ti-md mx-1"></i></a> -->
                                       
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Permission Table -->
               <!-- Modal -->
              <!-- Add Permission Modal -->
              <div class="modal fade" id="addPermissionModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-simple">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button
                        type="button"
                        class="btn-close btn-pinned"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                      <div class="text-center mb-6">
                        <h4 class="mb-2">Add New Permission</h4>
                        <p>Permissions you may use and assign to your users.</p>
                      </div>
                      <form id="addPermissionForm" class="row" onsubmit="return false">
                        <div class="col-12 mb-4">
                          <label class="form-label" for="modalPermissionName">Permission Name</label>
                          <textarea
                            type="text"
                            id="modalPermissionName"
                            name="modalPermissionName"
                            class="form-control"
                            placeholder="Permission Name"
                            autofocus > </textarea>
                            <span>To create multiple permission, separate with comma (,)<pan>
                        </div>
                       
                        <div class="col-12 text-center demo-vertical-spacing">
                          <button type="submit" class="btn btn-primary me-4">Create Permission</button>
                          <button
                            type="reset"
                            class="btn btn-label-secondary"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                            Discard
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Add Permission Modal -->

              <!-- Edit Permission Modal -->
              <div class="modal fade" id="editPermissionModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-simple">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button
                        type="button"
                        class="btn-close btn-pinned"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                      <div class="text-center mb-6">
                        <h4 class="mb-2">Edit Permission</h4>
                        <p>Edit permission as per your requirements.</p>
                      </div>
                      
                      <form id="editPermissionForm" class="row pt-2 row-gap-2 gx-4" onsubmit="return false">
                        <div class="col-sm-9">
                          <label class="form-label" for="editPermissionName">Permission Name</label>
                          <input
                            type="text"
                            id="editPermissionName"
                            name="editPermissionName"
                            class="form-control"
                            placeholder="Permission Name"
                            tabindex="-1" />
                            <input type="hidden" name="id" id="id">
                        </div>
                        <div class="col-sm-3 mb-4">
                          <label class="form-label invisible d-none d-sm-inline-block">Button</label>
                          <button type="submit" class="btn btn-primary mt-1 mt-sm-0">Update</button>
                        </div>
                        <!-- <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="editCorePermission" />
                            <label class="form-check-label" for="editCorePermission"> Set as core permission </label>
                          </div>
                        </div> -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Edit Permission Modal -->
            </div>
            <!-- / Content -->

        <%- include('../layout/footer') %>
        <!-- Page JS -->
    <script src="/assets/js/app-access-permission.js"></script>
    <script src="/assets/js/modal-add-permission.js"></script>
    <!-- <script src="/assets/js/modal-edit-permission.js"></script> -->
  </body>
</html>
