<!doctype html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default" data-assets-path="/assets/" data-template="vertical-menu-template" data-style="light">
  <head>
    <%- include('../layout/head') %>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

       <%- include('../layout/aside') %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

         <%- include('../layout/side') %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row invoice-preview">
                <!-- Invoice -->
                <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-0" id="invoice">
                  <div class="card invoice-preview-card p-sm-12 p-6">
                    <table class="table" id="example">
                        <thead>
                            <th></th>
                            <th>Role Code</th>
                            <th>Role Name </th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                           <% user_role.forEach((res, i) => { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= res.group_id %></td>
                                <td><%= res.group_name %></td>
                                <td>
                                    <div class="dropdown">
                                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="ti ti-dots-vertical"></i>
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:;" data-bs-target="#addRoleModal" data-bs-toggle="modal" onclick="editData('<%= res.group_name %>', '<%= res.idgroups %>')"><i class="ti ti-pencil me-1"></i>Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);" onclick="deleteRecords('<%= res.idgroups %>')"><i class="ti ti-trash me-1"></i> Delete</a>
                                      </div>
                                    </div>
                                  </td>
                            </tr>
                           <% }) %>
                        </tbody>
                    </table>
                  </div>
                </div>
                <!-- /Invoice -->

                <!-- Invoice Actions -->
                <div class="col-xl-3 col-md-4 col-12 invoice-actions">
                  <div class="card">
                    <div class="card-body">
                      <a href="javascript:;"
                        class="btn btn-primary d-grid w-100 mb-4">
                        <span class="d-flex align-items-center justify-content-center text-nowrap"
                          ><i class="ti ti-send ti-xs me-2"></i>View User</span
                        >
                    </a>
                      <!-- <button class="btn btn-label-secondary d-grid w-100 mb-4">Download</button>
                      <div class="d-flex mb-4">
                        <a
                          class="btn btn-label-secondary d-grid w-100 me-4"
                          href="javascript:;" onclick="printDiv('invoice')">
                          Print
                        </a>
                        <a href="./app-invoice-edit.html" class="btn btn-label-secondary d-grid w-100"> Edit </a>
                      </div> -->
                      <button
                        class="btn btn-success d-grid w-100"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#addPaymentOffcanvas">
                        <span class="d-flex align-items-center justify-content-center text-nowrap"
                          >Add new user role</span
                        >
                      </button>
                    </div>
                  </div>
                </div>
                <!-- /Invoice Actions -->
              </div>

              

              <!-- Add Payment Sidebar -->
              <div class="offcanvas offcanvas-end" id="addPaymentOffcanvas" aria-hidden="true">
                <div class="offcanvas-header border-bottom">
                  <h5 class="offcanvas-title">New Role</h5>
                  <button
                    type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body flex-grow-1">
                  
                  <form id="add_role" onsubmit="return false">
                    <div class="mb-6">
                      <label class="form-label" for="invoiceAmount">User Role</label>
                      <div class="input-group">
                        <span class="input-group-text"><i class="menu-icon tf-icons ti ti-users"></i></span>
                        <input
                          type="text"
                          id="user_role"
                          value=""
                          name="user_role"
                          class="form-control invoice-amount"/>
                      </div>
                    </div>
                    
                    
                    <div class="mb-6 d-flex flex-wrap">
                      <button type="submit" class="btn btn-primary me-4" id="wallet_payment" >
                        <span class="spinner-border" role="status" aria-hidden="true"></span>&nbsp;
                        Submit
                    </button>
                      <button type="button" class="btn btn-label-secondary"  data-bs-dismiss="offcanvas">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /Add Payment Sidebar -->
              </div>
              <!-- / Content -->


              <!-- Add Role Modal -->
              <div class="modal fade" id="addRoleModal" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-md modal-simple modal-dialog-centered modal-add-new-role">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center mb-6">
                      <h4 class="role-title mb-2">Edit User Role</h4>
                      <p>Edit user role</p>
                    </div>
                    <!-- Add role form -->
                    <form id="update_role" class="row g-6" onsubmit="return false">
                      <div class="col-12">
                        <label class="form-label" for="modalRoleName">Role Name</label>
                        <input type="text" id="group_name" name="group_name" class="form-control" placeholder="Enter a role name" tabindex="-1" />
                        <input type="hidden" name="id" id="id">
                      </div>
                      
                      <div class="col-12 text-center">
                        <button type="submit" id="role_name" class="btn btn-primary me-3">
                          Submit
                        </button>
                        <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">
                          Cancel
                        </button>
                      </div>
                    </form>
                    <!--/ Add role form -->
                  </div>
                </div>
              </div>
              </div>
              <!--/ Add Role Modal -->

        <%- include('../layout/footer') %>
        <script src="/assets/js/offcanvas-send-invoice.js"></script>
         <!-- Page JS -->
    <!-- <script src="/assets/js/tables-datatables-basic.js"></script> -->
    <script>
        
      
      if(document.getElementById("add_role")) {
        $(".spinner-border").hide()
        const add_role = document.getElementById("add_role");
        add_role.addEventListener("submit", async function(e) {
          e.preventDefault();
          $(".spinner-border").show()
          const data = new FormData(add_role);
          const payload = {
            user_role: data.get("user_role")
          }

          console.log({payload})
          try {
            const req = await fetch(`/admin/user_group`, {
              method: "POST",
              body: JSON.stringify(payload),
              headers: {
                "Content-Type": "application/json"
              }
            })

            const response = await req.json();
            $(".spinner-border").hide()
            if(response.status == true) {
                toastr.success(response.message);
                setTimeout(() => {
                  location.reload()
                }, "3000");
            } else {
                // for errors - red box
                toastr.error(response.message);
            }
          } catch (error) {
            $(".spinner-border").hide()
            // for errors - red box
            toastr.error(error.message);
          }
        }) 
      }


      // document.getElementById("role_name").dis
      if(document.getElementById("update_role")) {
        // document.getElementById("role_name").disabled = true
        const update_role = document.getElementById("update_role");
        update_role.addEventListener("submit", async function(e) {
          e.preventDefault();

          const data = new FormData(update_role);
          const payload = {
            user_role: data.get("group_name"),
            id: data.get("id")
          }

          console.log(payload)
          try {
            const req = await fetch(`/admin/user_group`, {
              method: "put",
              body: JSON.stringify(payload),
              headers: {
                "Content-Type": "application/json"
              }
            })

            if(req.ok) {
              const response = await req.json();
              document.getElementById("role_name").disabled = false
              if(response.status == true) {
                  toastr.success(response.message);
                  setTimeout(() => {
                    location.reload()
                  }, "3000");
              } else {
                  // for errors - red box
                  toastr.error(response.message);
              }
            } else {
              const response = await req.json();
              document.getElementById("role_name").disabled = false
              console.log(response.message)
            }
            
          } catch (error) {
            document.getElementById("role_name").disabled = false
            toastr.error(error.message);
          }
        }) 
      }

      function editData(name, id) {
        document.getElementById('group_name').value = name;
        document.getElementById('id').value = id;
      }


      async function deleteRecords(year) {
          // console.log(year)
          if(confirm('Do you want to delete?')) {
            try {
              const response = await fetch(`/admin/user_group?id=${year}`, {
                  method: 'DELETE',
                  headers: {
                      'Content-Type': 'application/json',
                      // Add any other headers if necessary, e.g., Authorization
                  }
              })
              // console.log(response)
              if (response.ok) {
                  const d = await response.json(); // or response.text() if expecting plain text
                  if(d.status == true) {
                    toastr.success(d.message);
                    setTimeout(() => {
                      location.reload()
                    }, "3000");
                  } else {
                    toastr.error(d.message);
                  }
                
              } else {
                toastr.error('Failed to delete the resource.');
                  // throw new Error();
              }
            } catch (error) {
              toastr.error(error.message);
            }
          }
          
        }



    </script>
  </body>
</html>
